@model BrandDetailsVm
@using X.PagedList
@using X.Web.PagedList

<div>
	<h4>Brand Details</h4>
	<hr />
	<dl class="row dt margin-bo">
		<dt class="col-sm-2">
			<label asp-for="BrandName"></label>
		</dt>
		<dd class="col-sm-6">
			<input asp-for="BrandName" class="form-control form-control-sm" readonly />
		</dd>
		<dt class="col-sm-2">
			<label asp-for="ShoesQuantity"></label>
		</dt>
		<dd class="col-sm-2">
			<input asp-for="ShoesQuantity" class="form-control form-control-sm" readonly />
		</dd>
	</dl>
</div>
<div>
	<a class="btn btn-warning btn-sm" asp-controller="Brands" asp-action="UpSert" asp-route-id="@Model.BrandId">
		<i class="bi bi-pencil-square"></i>&nbsp;
		Edit
	</a>
	<a asp-action="Index" class="btn btn-success btn-sm">
		<i class="bi bi-backspace"></i>&nbsp;
		Back to List
	</a>
</div>
<partial name="_ShoeList" model="@Model.ShoesListVm" />

<div class="d-flex">
@Html.PagedListPager(Model.ShoesListVm, page => Url.Action("Details", 
new { page,
	
	}), new PagedListRenderOptions
{
	UlElementClasses = new[] { "pagination" },
	LiElementClasses = new[] { "page-item" },
	PageClasses = new[] { "page-link" },
	DisplayLinkToIndividualPages = true,
	DisplayPageCountAndCurrentLocation = false,
	MaximumPageNumbersToDisplay = 10
})
</div>

