<div class="container pt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 text-center">
            <div class="alert alert-warning shadow-lg p-4 rounded">
                <h2 class="text-danger mb-4">
                    <i class="bi bi-x-circle-fill"></i> Order Cancelled by Customer!
                </h2>
                <p class="text-muted mb-4">The order was cancelled by the customer. We hope to serve you again soon!</p>
                <a class="btn btn-lg btn-primary" asp-action="Index" asp-controller="Home">
                    <i class="bi bi-arrow-left-circle"></i> Back to Home
                </a>
            </div>
        </div>
    </div>
</div>


